.welcome-page {
  background-color: rgba(42, 157, 143, 0.79);
  min-height: 100vh;
  padding-top: 150px;
  padding-left: 100px;
}

.welcome-page_flex-wrapper {
  display: flex;
}

.welcome-page_flex-wrapper__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-page_header {
  font-size: 62px;
  width: 600px;
}

.welcome-page_description {
  font-size: 32px;
  width: 600px;
}

.welcome-page .sign-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #f2c94c;
  width: 248px;
  height: 248px;
  border-radius: 100%;
  border: none;
  font-size: 38px;
  font-weight: bold;
  color: #1f5e4d;

  cursor: pointer;
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 650px) {
  .welcome-page {
    padding-bottom: 140px;
  }
}
