.text-input {
  padding-left: 20px;
  padding-right: 20px;
  color: var(--color-light-font);
}

.text-input .textarea {
  display: block;
  box-sizing: border-box;
  min-width: 80%;
  width: 100%;
  min-height: 70px;
  padding: 0;
  padding-left: 7px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: white;
  border-radius: 4px;
}
