.navigation_wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dark-font {
  color: var(--dark-font);
  border-bottom: 1px solid var(--dark-font);
}

.light-font {
  color: var(--color-light-font);
  border-bottom: 1px solid var(--light-background);
}

.navigation_right-column {
  display: flex;
}

.navigation_right-column__item {
  margin-left: 15px;
}
