html {
  height: 100%;
  --color-background: rgba(42, 157, 143, 0.79);
  --block-background: #3eb595;
  --color-light-font: white;
  --light-background: white;
  --dark-font: #4f4f4f;
  --green-background: #6fcf97;
  --green-font: #1f5e4d;
  --yellow-background: #f2c94c;
}
body {
  height: 100%;
  background-color: var(--color-background);
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  padding: 0;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
