html {
  height: 100%;
  --color-background: rgba(42, 157, 143, 0.79);
  --block-background: #3eb595;
  --color-light-font: white;
  --light-background: white;
  --dark-font: #4f4f4f;
  --green-background: #6fcf97;
  --green-font: #1f5e4d;
  --yellow-background: #f2c94c;
  --blue-font: #2d9cdb;
  --red-font: #eb5757;
}
body {
  height: 100%;
  color: var(--color-light-font);
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

button {
  padding: 0;
  padding-top: 1px;
  display: block;
  font-size: inherit;
  line-height: inherit;
}

.sign-up_input label {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
